/* //Author: Manan Amin (B00897712) */

  .grid-item {
    width: 250px;
    margin: 0.5rem 0 0.5rem 0;
  }

  .grid-item title{
    height: 50px;
  }
  .grid-item img {
    width: 100%;
    border-radius: 25px;
    height: 200px;
    object-fit: cover;
    min-width: 200px;
  }
  .grid-item header {
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
    align-items: center;
    min-height:6rem; 

  }
  
  .grid-item header span {
    font-size: 0.8rem;
    min-width: 2rem;
    background-color: #eeebeb;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .grid-item div p {
    padding-top: 0.5rem;
    font-size: 1rem;
    min-height:4rem;

  }
  .grid-item div p b {
    padding-right: 3rem; 

  }